.games-button {
    background-color: #ec5990;
    color: white;
    border-color: #ec5990;
    margin: auto;
    text-align: center;
    margin-top: 47%;
}

.games a {
    text-decoration: none;
    color: white;
}

.games {
    padding: 20px;
    margin: 10px;
}

.game img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.game {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 340px;
    color: black;
    font-weight: 500;
    margin-right: 10px;
}

.game button {
    margin-top: 20px;
    width: fit-content;
    background-color: #ec5990;
    color: white;
    border-color: #ec5990;
    cursor: pointer;
}

.claim {
    margin: 20px auto;
}

p {
    color: white;
}

.game-description {
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .game img {
        width: 250px;
        height: 250px;
    }

    .game {
        width: 290px;
        margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    .game img {
        width: 200px;
        height: 200px;
        margin: auto;
    }

    .game {
        width: 240px;
        margin: auto;
    }
}
